<div class="p-6 max-w-lg bg mx-auto bg-white shadow-lg rounded-lg mt-6">
    <h2 class="text-xl font-semibold text-gray-700 mb-4">Nova Categoria</h2>

    <hr class="mt-5 mb-5" />

    <form id="lugarForm" [formGroup]="camposForm" (ngSubmit)="salvar()">
        <div class="mb-4">
            <label for="nome" class="block text-gray-600 font-medium mb-2">Nome do Lugar</label>
            <input 
                type="text"
                id="nome"
                name="nome"
                formControlName="nome"
                placeholder="Ex: Praia do sol, Restaurante Estrela"
                class="w-full p-3 border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400 text-transform: uppercase"
            />
        </div>

        <div class="mb-4">
            <label for="categoria" class="block text-gray-600 font-medium mb-2">Categoria</label>
            <select 
                id="categoria"
                name="categoria"
                formControlName="categoria"
                class="w-full p-3 border  border-gray-300 rounded shadow-sm focus:outline-none focus:ring focus:ring-blue-400 text-transform: uppercase;"
            >
            <option [value]="">SELECIONE UMA CATEGORIA</option>
            <option *ngFor="let cat of categorias" [value]="cat.nome?.toUpperCase()"> {{ cat.nome?.toUpperCase() }} </option>
            </select>
        </div>
        
        <div class="mb-4">
            <label for="localizacao" class="block text-gray-600 font-medium mb-2">Localização</label>
            <input 
                type="text"
                id="localizacao"
                name="localizacao"
                formControlName="localizacao"
                placeholder="Ex: Xique-Xique - BA"
                class="w-full p-3 border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400 text-transform: uppercase"
            />
        </div>

        <div class="mb-4">
            <label for="urlFoto" class="block text-gray-600 font-medium mb-2">Foto</label>
            <input 
                type="text"
                id="urlFoto"
                name="urlFoto"
                formControlName="urlFoto"
                placeholder="Ex: http://exemplo.com/foto.jpg"
                class="w-full p-3 border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400 text-transform: uppercase"
            />
        </div>

        <div class="mb-4">
            <label for="nome" class="block text-gray-600 font-medium mb-2">Avaliação</label>
            <select 
                id="avaliacao"
                name="avaliacao"
                formControlName="avaliacao"
                class="w-full p-3 border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400 text-transform: uppercase"
            >
                <option [value]="">SELECIONE UMA AVALIAÇÃO</option>
                <option [value]="1">1 - RUIM</option>
                <option [value]="2">2 - REGULAR</option>
                <option [value]="3">3 - BOM</option>
                <option [value]="4">4 - MUITO BOM</option>
                <option [value]="5">5 - EXCELENTE</option>
            </select>
        </div>

        <button type="submit"
                class="w-full bg-blue-600 text-white font-semibold p-3 required shadow hover:bg-blue-700">
            Cadastrar lugar    
        </button>
    </form>


</div>